.setting_div p a {
    text-decoration: none;
}

.setting_div p {
    margin: 3px 0;
}



.setting_div {
    border-radius: 0 0 0 5px;
    width: 8rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.p-2 {
    padding: 0.5rem !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.d_flex {
    display: flex !important;
}

#all_links_div {
    position: fixed;
    top: 25vh;
    transition: .3s;
    width: 10rem;
    display: -webkit-box;
    height: 14rem !important;
    right: -8.2rem;
    z-index: 9999999;
}

.all_links_div_open {
    right: 0 !important;
}

.setting_icon_svg {
    animation: rotate_svg 2s infinite linear;
}

@keyframes rotate_svg {
    from {
        transform: rotate(360deg);
    }
}

.setting_icon {
    all: unset;
    display: grid;
    place-content: center;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    height: 2rem;
    width: 2rem;
    border-radius: 5px 0 0 5px;
}

.setting_div a {
    color: rgb(27, 27, 27);
}
